[defaults]
private_key_file = id_rsa.pem
hostfile = ansible/hosts
roles_path = ansible/roles
library = ansible/library
log_path = log/ansible.log

host_key_checking = False
ask_pass = False
ask_sudo_pass = False

[ssh_connection]
pipelining = True
