{
  "id": "{{item.id}}-controller",
  "kind": "ReplicationController",
  "apiVersion": "v1beta2",
  "desiredState": {
    "replicas": {{item.replicas}},
    "replicaSelector": {"name": "{{item.id}}"},
    "podTemplate": {
      "desiredState": {
        "manifest": {
          "version": "v1beta2",
          "id": "{{item.id}}",
          {% if item.volumes is defined %}
          "volumes": {{item.volumes | to_nice_json}},
          {% endif %}
          "containers": {{item.containers | to_nice_json}}
        }
      },
      "labels": {
        "name": "{{item.id}}"
      }
    }
  },
  "labels": {
    "name": "{{item.id}}"
  }
}
    
