{
  "kind": "ReplicationController",
  "apiVersion": "v1beta3",
  "metadata": {
    "name": "{{item.name}}",
    "labels": {
      "name": "{{item.name}}"
    }
  },
  "spec": {
    "replicas": {{item.replicas}},
    "selector": {
       "name": "{{item.name}}"
    },
    "template": {
      "metadata": {
        "name": "{{item.name}}",
        "labels": {
          "name": "{{item.name}}"
        }
      },
      "spec": {
        "containers": {{item.containers | to_nice_json}}
        {% if item.volumes is defined %}
        , "volumes": {{item.volumes | to_nice_json}}
        {% endif %}
      }
    }
  }
}
    
