{
  "id": "{{item.id}}",
  "kind": "Service",
  "apiVersion": "v1beta2",
  {% if item.port is defined %}
  "port": {{item.port}},
  {% endif %}
  {% if item.containerPort is defined %}
  "containerPort": {{item.containerPort}},
  {% endif %}
  "selector": {
    "name": "{{item.id}}"
  },
  "labels": {
    "name": "{{item.id}}"
  }
}