{
  "kind": "Service",
  "apiVersion": "v1beta3",
  "metadata":{
     "name": "{{item.name}}",
     "labels":{
        "name": "{{item.name}}"
     }
  },
  "spec":{
     {% if item.ports is defined %}
     "ports": 
        {{ item.ports | to_nice_json }}
     {% endif %}
     ,
     "selector": {
       "name": "{{item.name}}"
     }
  }
}
